/* Root  */
:root {
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --purple: #9792e4;
  --gray: #5a6e7f;
  --yellow: #fdc15f;
  /* Footer color #333  */
}

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ! Generics  */
body {
  font-family: "PT Sans", sans-serif;
}

/* ! Header */
header {
  height: 80px;
  background-color: var(--blue);
  color: white;
}
.nav-bar {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* ! Main */

/* * Card section  */

.row {
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0 70px 0;
}
.card-section .card,
.card-section .card-lg {
  padding: 30px;
}
.card-lg {
  flex-basis: 100%;
  /* TODO Remove  */
  background-color: lightseagreen;
}
.card {
  flex-basis: 100%;
  padding: 20px;
  /* TODO remove */
  background-color: lightseagreen;
}

/* * planning section  */

.planning-section {
  color: white;
}
.planning-section .card {
  text-align: center;
  color: black;
}

/* ! Utilities  */
.flex {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.wrap {
  width: 100%;
  background-color: var(--purple);
  padding: 70px 0;
}

/* ! Responsive  */

@media screen and (min-width: 768px) {
  /* Card Section  */
  .col-lg {
    flex-basis: calc(2 * (100% / 3 - (25px / 5)));
  }
  .col {
    flex-basis: calc(100% / 3 - (25px * 2 / 3));
  }
  /* Utilities  */
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  /* Utilities  */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
