/* Root  */
:root {
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --purple: #9792e4;
  --gray: #5a6e7f;
  --yellow: #fdc15f;
  /* Footer color #333  */
}

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ! Generics  */
body {
  font-family: "PT Sans", sans-serif;
}

/* ! Header */
header {
  height: 80px;
  background-color: var(--blue);
  color: white;
  margin-bottom: 50px;
}
.nav-bar {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* ! Main */

/* * Card section  */

.row {
  flex-wrap: wrap;
  gap: 25px;
}
.col-lg {
  flex-basis: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: lightseagreen;
}
.col {
  flex-basis: 100%;
  padding: 30px;
  margin: 0 auto;
  background-color: lightseagreen;
}
/* ! Utilities  */
.flex {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
